          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">抓取功能面板</h3>
            </div>
            <div class="panel-body">
              <p><a href="<?php echo site_url('welcome/getAllStockName');?>">抓取所有股票代码和名称</a></p>
              <p><a href="<?php echo site_url('welcome/setStockFlag');?>">标记非股票代码</a></p>
              <p><a href="<?php echo site_url('welcome/getFinanceInfoByCode');?>">抓取指定代码的公司财务数据</a></p>
              <p><a href="<?php echo site_url('welcome/displayGetFinance');?>">抓取所有公司财务数据</a></p>
            </div>
          </div>
