	<div class="container">
		<?php $newtype = '';?>			
		<?php foreach ($site as $item) :?>
		 	<?php if($newtype == '') :?>											
				<div class="row">
					<div class="col-xs-12">
						<h2><?php echo $item['type']?></h2>
						<ul class="list-inline">
			<?php elseif($newtype != $item['type']) :?>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
					<h2><?php echo $item['type']?></h2>
						<ul class="list-inline">
			<?php endif; ?>
							<li class="col-xs-6 col-sm-2"><a href="<?php echo $item['siteurl']?>" target="_black"><?php echo $item['siteinfo']?></a></li>
						<?php $newtype = $item['type'];?>
		<?php endforeach; ?>
						</ul>
					</div>
				</div><!--/.row-->
		</div><!--/.container-->
